:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --link-color: #afb1b8;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

/* утилиты */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:last-child {
  background-color: #f5f4fa;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

img {
  display: block;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.91;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .header-item {
  margin-right: 40px;
}

.header-navigation {
  display: flex;
  align-items: center;
  padding: 0;
}

.header-list .header-item:last-child {
  margin-right: 0px;
}

.header-list .header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.91;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.list {
  text-decoration: none;
  padding: 0;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* контакты */

.mail-logo {
  fill: currentColor;
  margin-right: 10px;
}

.tele-logo {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .header-item:last-child {
  margin-left: 50px;
}

.header-contacts .header-item {
  display: block;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../svgimg/hero.jpg);
  text-align: center;
  flex-grow: 1;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 700px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.hero-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn {
  background: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
}

.btn-fltr {
  background: #2196f3;
  border-radius: 4px;
  padding: 6px 22px;
}

/* особенности */
.feature-list .feature-logo::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-logo.icon-antenna::before {
  background-image: url(../svgimg/antenna.svg);
}

.feature-logo.icon-clock::before {
  background-image: url(../svgimg/clock.svg);
}

.feature-logo.icon-diagram::before {
  background-image: url(../svgimg/diagram.svg);
}

.feature-logo.icon-astronaut::before {
  background-image: url(../svgimg/astronaut.svg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container-features {
  padding-bottom: 0;
}

.features {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  text-align: justify;
  margin-bottom: 10px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list .item {
  width: 270px;
}

.feature-list .feature-logo:not(:last-child) {
  margin-right: 30px;
}

.features-text {
  width: 270px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* чем мы занимаемся */

.duty-list {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.duty-list .item {
  display: block;
  flex-direction: row;
}
.duty-list .item:not(:last-child) {
  margin-right: 30px;
}

/* наша команда */
.team {
  padding: 30px 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-grey {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-title-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list .link {
  flex-direction: row;
}
.team-list .link:not(:last-child) {
  margin-right: 30px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-items:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.socials-logo {
  fill: var(--link-color);
}

.socials-link:hover .socials-logo,
.socials-link:focus .socials-logo {
  fill: #ffffff;
}

/* постоянные клиенты */

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-icon-logo {
  width: 106px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 3%;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon-link {
  display: flex;
  padding: 16px 32px;
}
.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
}

.clients-icon-link:hover .clients-icon-logo,
.clients-icon-link:focus .clients-icon-logo {
  fill: var(--accent-color);
}

.clients-icon-logo {
  fill: #afb1b8;
}

/* футер */
.contacts .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.91;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.contacts {
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-list .item:not(:last-child) {
  margin-bottom: 9px;
  padding: 0px;
}

.container .contacts-list {
  margin-top: 9px;
}

.footer-contacts {
  margin-right: 70px;
}

.contacts-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.contacts-mail,
.contacts-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

/* футер соц.сети */
.footer-social {
  margin-top: 12px;
}

.footer-social-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-social-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-logo {
  fill: #ffffff;
}

.socials-items {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* ПОРТФОЛИО */

/* фильтры */
.filtr-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr-list .filtr-item:not(:last-child) {
  margin-right: 8px;
}

.filtr-button {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border-color: transparent;
}

.filtr-button:hover {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

/* примеры */
.example {
  padding: 20px 24px;
}

.example-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  /* padding: 20px 24px 0px 24px; */
}

.example-title-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  /* padding: 4px 24px 20px 24px; */
}

.example-container {
  display: flex;
  flex-wrap: wrap;
}
.example-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.example-item:nth-child(3n) {
  margin-right: 0;
}
.example-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.example-item:hover,
.example-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
